.advantages{
    margin-top: 40px;
    color: $text-color__secondary;

    &__title{
        margin: 0;
        padding: 0;
        font-size: 24px;
        line-height: 30px;
    }

    &__text{
        margin: 0;
        padding: 0;
        margin-top: 25px;
        @include regular;
    }

    &-list{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }

    &__item{
        max-width: 470px;
        position: relative;
        &--ice-cream::before{
            content: url("../img/vector/icon-ice-cream.svg");
        }
        &--leaf::before{
            content: url("../img/vector/icon-leaf.svg");
        }
        &--cow::before{
            content: url("../img/vector/icon-cow.svg");
        }
        &--thermometer::before{
            content: url("../img/vector/icon-thermometer.svg");
        }

        &--ice-cream::before, &--leaf::before, &--cow::before, &--thermometer::before{
            position: absolute;
            left: -55px;
            top: 15px;
        }
    }

    &__item:nth-child(1n){
        margin-left: 20px;
    }
    
    &__item:nth-child(2n){
        margin-left: 90px;
    }
}