.main{

    &-header{
        margin-top: 10px;
        min-height: 80px;
        &-wrapper{
            display: flex;
            justify-content: space-between;
        }
    }

    &-nav{
        display: flex;
        &__list{
            margin: 0;
            padding: 20px 0 0 25px;    
        }
        &__logo-link{
            margin: 0;
            padding: 0;
            width: 154px;
            height: 64px;
    
        }
    }
}

.header-list{
    list-style: none;
    display: flex;
    
    &__item{
        @include bold;
        line-height: 18px;
    }
    &__item + &__item{
        margin-left: 25px;

    }
}

.user-list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    &__text{
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 16px;
    }
}

.phone-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.phone{
    &-desc{
        margin: 0;
        padding: 0;
        @include bold;
        font-size: 14px;
        line-height: 16px;
    }
    &-text{
        margin-top: 5px;
        text-decoration: none;
        @include bold;
        font-size: 22px;
        line-height: 24px;
    }
}