.main-footer .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.main-footer{
    padding-top: 20px;
    padding-bottom: 65px;

    
}

.social-list ,.contacts-list{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-list{

    &__item + &__item{
        margin-left: 10px;
    }
}

.contacts-list{
    @include bold;
    font-size: 13px;
    line-height: 18px;
    flex-wrap: wrap;

    &-columns{
        display: flex;
        flex-direction: column;
    }

    &-columns:nth-child(2){
        margin-left: 30px;
    }

    &__item{
        text-decoration: none;
    }

    &__item + &__item{
        margin-top: 5px;
    }
}

.copyright{
    &__description{
        margin: 0;
        padding: 0;
        @include regular;
        font-size: 13px;
        line-height: 18px;
    }

    &__logo-image{
        margin-left:-8px; //Sprite bug
    }
}