.map{
    max-width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    background: url("../img/map/map.jpg") no-repeat center;
    background-size: cover;
    min-height: 410px;
    padding: 65px 50px;

    &__contacts{
        padding: 30px 25px;
        position: absolute;
        right: 50px;
        background: $map-contacts-background-color;
    }

    &__description{
        max-width: 225px;
        margin: 0;
        padding: 0;
        color: $text-color__secondary;
        @include regular;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 25px;
    }

    &__description .bold{
        text-decoration: none;
        color: $text-color__secondary;
        @include bold;
        font-size: 18px;
        line-height: 22px;
    }
}