.sales{
    margin-top: 40px;

    &__title{
        margin: 0;
        padding: 0;
        @include bold;
        font-size: 35px;
        line-height: 41px;
    }

    &__description{
        margin: 0;
        padding: 0;
        margin-top: 20px;
        font-size: 18px;
    }

    &-button{
        float: right;
        margin-top: 45px;
    }
}

// page-columns settings written in _common.scss