.goods{
    margin-top: 40px;

    &-image-wrapper{
        position: relative;
    }

    &__price{
        position: absolute;
        bottom: 20px;
        margin: 0;
        padding: 0;
        @include bold;
        font-size: 45px;
        line-height: 45px;
        text-shadow: 0.5px 0.9px 3px $price-text-color__shadow;

        sup{
            vertical-align: bottom;
        }
    }

    &__description{
        margin: 0;
        padding: 0;
        @include medium;
        text-align: center;
    }

    &__ice-cream-image{
        border-radius: 50%;
    }
    &-columns{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        &__item{
            max-width: 265px;
        }

        &__item::before{
            content: url("../img/vector/hit.svg");
            position: absolute;
            border-radius: 50%;
            z-index: 5;
        }

        &__link{
            text-decoration: none;
        }
    }
}