$background-main:  #849d8f;
$text-color__primary: #fff;
$text-color__secondary: #323232;
$text-color__mailing: #5a5a5a;
$link-border-color: rgba(255, 255, 255, 0.2);

// Buttons

$button-main-color__first:rgb(231,74,53);
$button-main-color__second:rgb(242,104,67);
$button-main-color__shadow:rgba(172, 16, 0, 0.64);
$button-main-color__text-shadow:rgba(160, 32, 11, 0.76);

// Main-page

$toggle-color: #fff;
$price-text-color__shadow:rgba(49, 50, 53, 0.5);
$mailing-overlay-color: #f8f7f4;
$placeholder-color: rgba(178, 178, 178, 0.52);
$map-contacts-background-color: #fff;

// white: #f8f7f4;
// white-two: #ffffff;
// white-three: #fefefe;
// warm-grey: #9d8b84;
// greyish-teal: #849d8f;
// bluey-grey: #8996a6;
// black: #323232;
// greyish-brown: #5a5a5a;
// tomato: #e74a35;
// dusty-orange: #f26843;
// warm-grey-two: #999999;
