body{
    background-color: $background-main;

    @include medium;
    color: $text-color__primary;
    font-size: 16px;
    line-height: 22px;

    a {
        color: $text-color__primary;
    }
}



.page-link{
    text-decoration: none;
    border-bottom: 1px solid $link-border-color;
}

.page-columns{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    
    &__item{
        padding: 20px;
        border-radius: 15px;

        &--raspberry{
            background: url('../img/raster/raspberry.jpg') no-repeat;
            background-size: cover;
        }
        
        &--chocolate{
            background: url('../img/raster/chocolate.jpg') no-repeat;
            background-size: cover;
        }
        
        &--serving{
            background: url('../img/raster/strawberry-sherbet.jpg') no-repeat left;
            background-size: cover;
        }
        
        &--waffle{
            background: url('../img/raster/waffle.jpg');
            background-size: cover;
        }

        &--mail{
            background: url("../img/raster/mailing.jpg") no-repeat;
            background-size: cover;        
        }
    }

    &__item + &__item{
        margin-left: 25px;
    }
}

.page-columns .page-columns__item{
    width: 100%;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}